body {
  background: violet;
}
.main-title {
  text-align: center;
  width: 50px;
  color: bisque;
}
.second-title {
  text-align: center;
  width: 30px;
  text-decoration: dotted;
  color: red;

}
